*.js.map
*.js
node_modules
dist
projects/common/docs


*.tar.gz

*.tgz

.direnv

.tmp

.eslintcache

.env

.terraform

# Local Kubernetes config
.kube/

.yarn

terraform.tfstate
terraform.tfstate.backup
