apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "poe-accountant.fullname" . }}-ingress
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "poe-accountant.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    {{- if .Values.ingress.tlsSecretName }}
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    {{- end }}
spec:
  ingressClassName: nginx
  {{- if .Values.ingress.tlsSecretName }}
  tls:
    - hosts:
        {{- range .Values.ingress.hosts }}
        - {{ . }}
        {{- end }}
      secretName: {{ .Values.ingress.tlsSecretName }}
  {{- end }}
  rules:
    {{- $services := .Values.services }}
    {{- range $serviceName, $serviceConfig := $services }}
    {{- if and $serviceConfig.enabled $serviceConfig.ingress }}
    {{- $httpPort := "" }}
    {{- $targetPortName := $serviceConfig.ingress.port | default "http" }}
    {{- range $port := $serviceConfig.ports }}
      {{- if eq $port.name $targetPortName }}
        {{- $httpPort = ($port.servicePort | default $port.containerPort) }}
      {{- end }}
    {{- end }}
    {{- if $httpPort }}
    {{- range ($serviceConfig.ingress.hosts | default $.Values.ingress.hosts) }}
    - host: {{ . }}
      http:
        paths:
          - path: {{ $serviceConfig.ingress.path | default "" }}/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $serviceName }}-service
                port:
                  number: {{ $httpPort }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- end }}
