# Global configuration
# global:
#   namespace: poe-accountant

# Docker registry configuration
# Set in command line

# Services configuration - each service defines its ingress path
services:
  # Example service configuration:
  ninja-server:
    enabled: true
    scaling:
      minReplicas: 1 # required, the amount of replicas to start with (no autoscaling if the rest aren't set)
      maxReplicas: 2 # optional
      targetCPUUtilizationPercentage: 80
    image:
      repository: poe-accountant-ninja-server
      tag: latest
      pullPolicy: IfNotPresent
    ports:
      - containerPort: 3000
        name: http # required for ingress
        servicePort: 80  # Optional: defaults to containerPort
    # Service configuration
    ingress:
      healthCheck: /health
    env:
      NODE_ENV: production
      PORT: "3000"
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
    securityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 1000
      capabilities:
        drop:
          - ALL

# NGINX Ingress Controller configuration
ingress-nginx:
  enabled: true
  controller:
    config:
      use-proxy-protocol: "true"            # DO LB → NGINX over PROXY; safe to keep on
      use-forwarded-headers: "true"         # trust CF/HTTP proxy headers
      real-ip-header: "CF-Connecting-IP"    # take the visitor IP from Cloudflare’s header
      forwarded-for-header: "CF-Connecting-IP"
      # proxy-real-ip-cidr: ${var.proxy_cidr}

    service:
      type: LoadBalancer
      annotations:
        service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: "true"
        service.beta.kubernetes.io/do-loadbalancer-type: "REGIONAL" # for ipv6 support
        # nginx.ingress.kubernetes.io/whitelist-source-range: ${var.proxy_cidr}
